@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?3eq66d');
    src:    url('fonts/icomoon.eot?3eq66d#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?3eq66d') format('truetype'),
        url('fonts/icomoon.woff?3eq66d') format('woff'),
        url('fonts/icomoon.svg?3eq66d#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    
    /* Enable Ligatures ================ */
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    font-feature-settings: "liga";
    -webkit-font-variant-ligatures: discretionary-ligatures;
    font-variant-ligatures: discretionary-ligatures;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-alarm:before {
    content: "\e900";
}
.icon-calendar:before {
    content: "\e901";
}
.icon-bubble:before {
    content: "\e902";
}
.icon-user:before {
    content: "\e903";
}
.icon-hour-glass:before {
    content: "\e904";
}
.icon-enlarge:before {
    content: "\e910";
}
.icon-wrench:before {
    content: "\e905";
}
.icon-cog:before {
    content: "\e906";
}
.icon-trophy:before {
    content: "\e907";
}
.icon-target:before {
    content: "\e908";
}
.icon-power:before {
    content: "\e909";
}
.icon-eye:before {
    content: "\e90a";
}
.icon-star-empty:before {
    content: "\e90f";
}
.icon-star-half:before {
    content: "\e90b";
}
.icon-star-full:before {
    content: "\e90c";
}
.icon-cross:before {
    content: "\e90d";
}
.icon-checkmark:before {
    content: "\e90e";
}

