*{padding: 0; margin: 0;}

::-webkit-scrollbar{width:8px;}
::-webkit-scrollbar-thumb{border-width:1px 1px 1px 2px; border-color: #777; background-color: #aaa;}

img{border: none;}
table{border-collapse: collapse;}
td{background-position: 50%, 50%;}
h3{margin: 0 0 10px 0;}

body {
    font-family: Verdana,Arial,sans-serif;
    font-size: 14px;
    color: #000000;
    background: #DDDDDD url('../images/bg.png') repeat;
}

.top{
    background: url('../images/top-bg.png') repeat-x;
    color: #FFFFFF;
    height: 83px;
}

.center{
    margin: 0 auto; 
    min-width: 1400px;
    padding: 0 20px;   
}

.top-left{
    float: left;
    margin: 12px 0 0 0;        
}

.login-top{
    float: right;
    list-style-type: none;
}

.login-top li{
    float: left;    
}

.login-top a{
    color: #FFFFFF;
    padding: 12px 15px;
    display: block;
    text-decoration: none;
}

.login-top a:hover{
    text-decoration: underline;
}

.header{
    height: 125px;
    margin: -25px 0 0 0;
}

.header-logo a{
    float: left;    
}

.header-logo a:last-child{
    margin: 18px 0 0 20px;    
}

.line{
    background: #FFFFFF url('../images/g-line.gif') repeat-x;
    height: 2px;
    clear: both;    
}

.main-bg{
    background: url('../images/l-line.gif') repeat-y top left;
    padding: 0 0 25px 0;   
}

.samurai_bg{
    background: url('../images/samurai.png') no-repeat bottom right;
    min-height: 810px;    
}

.left{
    width: 200px;
    float: left;    
}

.left_modul{
    padding:0 15px 0 0;
}

.left_modul a{
    color: #000;
    text-decoration: none;
}

.left_modul a:hover{
    text-decoration: underline;
}

.left_modul h4{
    margin-bottom: 10px;
    margin-top: 6px;
    text-align: center;
    background-color: #CCC;
    padding: 5px 0;
}

.left_modul ul{
    list-style-type: none;
    margin: 0 0 19px 10px;
}

.content{
    padding: 0 0 0 220px;    
}

.cross_info{
    margin: 0 0 15px 0; 
    overflow: hidden;  
}

#timer{
    font-size: 24px;
    color:  #000000;
}

.cross_info ul{
    list-style-type: none; 
    float :left;
    margin-right: 20px;  
}

.cross_info ul li{
    margin:0 0 5px 0;  
}

.cross_info .cross_info_bold{
    font-size: 14px;
    color: #000;
    font-weight: bold;
}

.cross_info ul li span{
    color: #7B7B7B;
    padding-right: 5px;
    font-size: 15px  
}

.cross_info .c_orange{
    color: #F5A222;  
}

.c_green{
    margin-left: 15px;
    color: #0ED00E!important;
}

.cross_info ul li a{
    color: #000;
    font-weight: bold;
}

.cross_info ul li a:hover{
    text-decoration:  none;
}

.cross_info ul:last-child{
    float :none;  
}

.content h1{
    margin: 0 0 10px 0; 
    font-size: 20px;   
}

.frame table div:hover{
    box-shadow: inset 0 0 0px 1px #8F8F8F;    
}

.cross_main{
    border: 2px solid black;
    margin: 25px 0 0 0;
}

.cross_main_20{
    border: 2px solid black;
    margin: 25px 0 0 0;
}

.cross_main_22{
    border: 2px solid black;
    margin: 25px 0 0 0;
}

.cross_main_24{
    border: 2px solid black;
    margin: 25px 0 0 0;
}

.cross_main_26{
    border: 2px solid black;
    margin: 25px 0 0 0;
}

.cross_main td {
    border: 1px solid black;
    background-color: #FFFFFF;
    cursor: pointer;
}

.cross_main_20 td {
    border: 1px solid black;
    background-color: #FFFFFF;
    cursor: pointer;
}

.cross_main_22 td {
    border: 1px solid black;
    background-color: #FFFFFF;
    cursor: pointer;
}

.cross_main_24 td {
    border: 1px solid black;
    background-color: #FFFFFF;
    cursor: pointer;
}

.cross_main_26 td {
    border: 1px solid black;
    background-color: #FFFFFF;
    cursor: pointer;
}

.cross_main td table{
    border: 0;
}

.cross_main_20 td table{
    border: 0;
}

.cross_main_22 td table{
    border: 0;
}

.cross_main_24 td table{
    border: 0;
}

.cross_main_26 td table{
    border: 0;
}

.cross_main td table td {
    width: 18px;
    height: 17px;
    text-align: center;
    color: #000000;
    cursor: pointer;
    font-size: 0;
    border: 1px solid #8E8E8E;
    vertical-align: middle;
}

.cross_main_20 td table td {
    width: 20px;
    height: 19px;
    text-align: center;
    color: #000000;
    cursor: pointer;
    font-size: 0;
    border: 1px solid #8E8E8E;
    vertical-align: middle;
}

.cross_main_22 td table td {
    width: 22px;
    height: 21px;
    text-align: center;
    color: #000000;
    cursor: pointer;
    font-size: 0;
    border: 1px solid #8E8E8E;
    vertical-align: middle;
}

.cross_main_24 td table td {
    width: 24px;
    height: 23px;
    text-align: center;
    color: #000000;
    cursor: pointer;
    font-size: 0;
    border: 1px solid #8E8E8E;
    vertical-align: middle;
}

.cross_main_26 td table td {
    width: 26px;
    height: 25px;
    text-align: center;
    color: #000000;
    cursor: pointer;
    font-size: 0;
    border: 1px solid #8E8E8E;
    vertical-align: middle;
}

.cross_main td div {
    width: 18px;
    height: 17px;
    text-align: center;
    font-size: 11px;
    padding: 0px;
    vertical-align: top;
}

.cross_main_20 td div {
    width: 20px;
    height: 19px;
    text-align: center;
    font-size: 13px;
    padding: 0px;
    vertical-align: top;
}

.cross_main_22 td div {
    width: 22px;
    height: 21px;
    text-align: center;
    font-size: 15px;
    padding: 0px;
    vertical-align: top;
}

.cross_main_24 td div {
    width: 24px;
    height: 23px;
    text-align: center;
    font-size: 17px;
    padding: 0px;
    vertical-align: top;
}

.cross_main_26 td div {
    width: 26px;
    height: 25px;
    text-align: center;
    font-size: 19px;
    padding: 0px;
    vertical-align: top;
}

.cross_main td.td_null {
    background: #dadada;
    border-color: #808080;
    cursor: default;
}

.cross_main_20 td.td_null {
    background: #dadada;
    border-color: #808080;
    cursor: default;
}

.cross_main_22 td.td_null {
    background: #dadada;
    border-color: #808080;
    cursor: default;
}

.cross_main_24 td.td_null {
    background: #dadada;
    border-color: #808080;
    cursor: default;
}

.cross_main_26 td.td_null {
    background: #dadada;
    border-color: #808080;
    cursor: default;
}

.cross_main td table td.td_str5 {
    border-right: 2px solid #8F8F8F;
}

.cross_main_20 td table td.td_str5 {
    border-right: 2px solid #8F8F8F;
}

.cross_main_22 td table td.td_str5 {
    border-right: 2px solid #8F8F8F;
}

.cross_main_24 td table td.td_str5 {
    border-right: 2px solid #8F8F8F;
}

.cross_main_26 td table td.td_str5 {
    border-right: 2px solid #8F8F8F;
}

.cross_main td table .tr_str5 td {
    border-bottom: 2px solid #8F8F8F;
}

.cross_main_20 td table .tr_str5 td {
    border-bottom: 2px solid #8F8F8F;
}

.cross_main_22 td table .tr_str5 td {
    border-bottom: 2px solid #8F8F8F;
}

.cross_main_24 td table .tr_str5 td {
    border-bottom: 2px solid #8F8F8F;
}

.cross_main_26 td table .tr_str5 td {
    border-bottom: 2px solid #8F8F8F;
}

.cross_main td.kletka {
    background: #CACACA;
    border-color: #818181;
}

.cross_main_20 td.kletka {
    background: #CACACA;
    border-color: #818181;
}

.cross_main_22 td.kletka {
    background: #CACACA;
    border-color: #818181;
}

.cross_main_24 td.kletka {
    background: #CACACA;
    border-color: #818181;
}

.cross_main_26 td.kletka {
    background: #CACACA;
    border-color: #818181;
}

.cross_main td.kletka_light {
	background: #eee;
}

.cross_main_20 td.kletka_light {
	background: #eee;
}

.cross_main_22 td.kletka_light {
	background: #eee;
}

.cross_main_24 td.kletka_light {
	background: #eee;
}

.cross_main_26 td.kletka_light {
	background: #eee;
}

.seting_but ul{
    list-style-type: none;
}

.seting_but ul li{
    float: left;
    margin: 0 15px 0 0;    
}

.seting_but ul li:last-child{
    float: none;
    margin: 0px;   
}

.seting_but ul li a{
    border: 2px solid #fff;
    color: #000;
    padding: 5px 12px;
    text-decoration: none;
    border-radius: 10px;   
}

.seting_but ul li a:hover{
    background-color: #ffffff; 
    border-color: #BDBDBD;  
}

.seting_but:first-child{
    margin: 20px 0 0 0;
}

.seting_but{
    margin: 27px 0 0 0;
}

.seting{
    margin: 20px 0 0 0;
}

.seting label{
    cursor: pointer;
}

.commits{
    margin: 20px 0 0 0;
}

.commits table{
    font-size: 12px;
    width: 800px;
}

.commits table tr td{
    border: 1px solid #AAA;
    padding: 5px;
    vertical-align: top;
    background-color: rgba(250,250,250,.2);
}

.commits table tr td:nth-child(1){
    margin: 0;
    padding: 2px;
    width: 50px;
    border-right: 0;
}
.commits table tr td:nth-child(2){
    border-left: 0;
    min-width: 150px;
}

.commits table tr td:nth-child(2) a{
    display: block;
    margin-bottom: -12px;
    color: #000;
    font-size: 16px;
}

.online{
    font-size: 10px;
    color: #1EAD49;
    text-shadow: 0 0 29px #1DDC12;
    text-align: center;
}

.registr{}

.reg_error{
    color: #C73030;
    text-align: center;
    padding-top: 15px!important;
    height: 17px;
}

.registr tr td:first-child{
    padding: 0 7px 0 0;
    width:  215px;
}

.r_capcha td span{
    float: left;
    margin-right: 18px;
    font-size: 10px;
}

.r_capcha td{
    vertical-align: top;    
}

.r_capcha td img{
    border: 1px solid #ccc;    
}

.r_capcha td img:hover{
    cursor: pointer;   
}

.r_capcha td:last-child{
    height: 65px;   
}

.registr tr td:last-child{
    padding: 3px 0;
}

.registr_in_text{
    border-radius: 5px;
    padding: 5px 7px;
    border: 1px solid #BDBDBD;
}

.registr_in_text:focus{
    border-color: #868686; 
    outline: none 
}

.registr_in_sub{
    padding: 5px 5px;
    border-radius: 5px;
    background-color: #ccc;
    border: 1px solid #868686;
    width: 180px;
    margin-top: 10px;
    color: #353535;
}

.registr_in_sub:hover{
    cursor: pointer;
    color: #FFFFFF;
    background-color: #868686;   
}

.registr ul{
    list-style-type: none;
    margin-top: 10px;
}

.registr ul li a{
    color: #000;
    text-decoration: none;  
}

.registr ul li a:hover{
    text-decoration: underline;  
}

.lk{
    
}

.lk tr td{
    padding: 3px 7px;    
}

.lk tr td:last-child{
    font-weight: bold;    
}

.add_size{
    margin-top: 20px;
}

.add_name{
    width: 190px!important;
    text-align: left!important;
    padding: 3px 5px;
}

.add_size tr td{
   padding: 3px 7px; 
}

.add_size tr td input{
    width: 35px;
    height: 20px;
    text-align: center;
    border: 1px solid #000; 
}

.add_size tr td span{
    height: 16px;
    border: 1px solid #000;
    padding: 2px 8px 1px 8px;
    font-weight: bold;
    cursor: pointer;
    vertical-align: middle;
}

.add_size tr td span:hover{
    background-color: #ccc;    
}

.add_size tr td span:first-child{
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;   
}

.add_size tr td span:last-child{
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;   
}

.add_size tr td a{
    border-bottom: 1px dashed #000;
    cursor: pointer;
}

#message{
    margin: 20px 0 0 0;
}
.error {
    border-top: 3px solid #de7a7b;
    border-bottom: 3px solid #de7a7b;
    background: #E6C0C0;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #CC0048;
    font-weight: 500;
    text-decoration: none;
    text-shadow: none;
    margin-bottom: 18px;
    text-align: center;
}

.error_plus {
    border-top: 3px solid #75923C;
    border-bottom: 3px solid #75923C;
    background: #C2D69A;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #75923C;
    font-weight: 500;
    text-decoration: none;
    text-shadow: none;
    margin-bottom: 18px;
    text-align: center;
}

.footer{
    height: 50px;
    background-color: #3f3f3f;
    color: #fff;
    font-size: 12px;
}

.footer_copy{
    float: left;
    vertical-align: middle;
    margin: 17px 0 0 0;
}
.footer_copy a{
    color: #fff;
    text-decoration: none;
}

.footer_copy a:hover{
    text-decoration: underline;
}

.footer_right{
    float: right;
    vertical-align: middle;
    margin: 17px 0 0 0;
}
.footer_right a{
    color: #fff;
    text-decoration: none;
}

.footer_right a:hover{
    text-decoration: underline;
}

.list_class_item ul{
    list-style-type: none;
}

.list_class_item ul li{
    background: url('../images/g-line.gif') repeat-x bottom;
    margin-bottom: 7px;
    display: table-row;
}

.list_class_item ul li table img{
    width: 100px;
    height: 100px;
}

.list_class_item ul li table a{
    color: #000;
    cursor:pointer;
    text-decoration: none;
}

.list_class_item ul li table span{
    color: #7B7B7B;
    padding-right: 5px;
    font-size: 15px;
}

.list_class_item ul li table span.c_orange{
    color: #F5A222;
}

.list_class_item ul li table{
    margin-top: 7px;
    margin-bottom: 7px;
}

.list_class_item ul li table tr td:nth-child(2){
    padding: 0 0 0 7px;
}

.list_class_item ul li table tr td:nth-child(3){
    padding: 0 0 0 10px;
}