*{padding: 0; margin: 0;}

::-webkit-scrollbar{width:8px;}
::-webkit-scrollbar-thumb{border-width:1px 1px 1px 2px; border-color: #777; background-color: #aaa;}

img{border: none;}
table{border-collapse: collapse;}
td{background-position: 50%, 50%;}

body {
    font-family: Verdana,Arial,sans-serif;
    font-size: 14px;
    color: #000000;
    background: #DDDDDD url('../images/bg.png') repeat;
}

.top{
    background: url('../images/top-bg.png') repeat-x;
    color: #FFFFFF;
    height: 83px;
}

.center{
    margin: 0 auto; 
    min-width: 1400px;
    padding: 0 20px;   
}

.top-left{
    float: left;
    margin: 12px 0 0 0;        
}

.login-top{
    float: right;
    list-style-type: none;
}

.login-top li{
    float: left;    
}

.login-top a{
    color: #FFFFFF;
    padding: 12px 15px;
    display: block;
    text-decoration: none;
}

.login-top a:hover{
    text-decoration: underline;
}

.header{
    height: 125px;
    margin: -25px 0 0 0;
}

.header-logo a{
    float: left;    
}

.header-logo a:last-child{
    margin: 18px 0 0 20px;    
}

.line{
    background: #FFFFFF url('../images/g-line.gif') repeat-x;
    height: 2px;
    clear: both;    
}

.main-bg{
    background: url('../images/l-line.gif') repeat-y top left;   
}

.left{
    width: 200px;
    float: left;    
}

.content{
    padding: 0 0 0 220px;    
}

.cross_info ul{
    list-style-type: none; 
    float :left;
    margin-right: 20px;  
}

.cross_info ul li{
    margin:0 0 5px 0;  
}

.cross_info .cross_info_bold{
    font-size: 14px;
    color: #000;
    font-weight: bold;
}

.cross_info ul li span{
    color: #7B7B7B;
    padding-right: 5px;
    font-size: 15px  
}

.cross_info .c_orange{
    color: #F5A222;  
}

.cross_info ul li a{
    color: #000;
    font-weight: bold;
}

.cross_info ul li a:hover{
    text-decoration:  none;
}

.cross_info ul:last-child{
    float :none;  
}

.content h1{
    margin: 0 0 10px 0; 
    font-size: 20px;   
}

.cross_main{
    border: 2px solid black;
}

.cross_main td {
    border: 1px solid black;
    background-color: #FFFFFF;
    cursor: pointer;
}

.cross_main td table{
    border: 0;
}

.cross_main td table td {
    width: 18px;
    height: 17px;
    text-align: center;
    color: #000000;
    cursor: pointer;
    font-size: 0;
    border: 1px solid #8E8E8E;
    vertical-align: middle;
}

.cross_main td div {
    width: 18px;
    height: 17px;
    text-align: center;
    font-size: 11px;
    line-height: 15px;
    padding: 0px;
    vertical-align: top;
}

.cross_main td.td_null {
    background: #dadada;
    border-color: #808080;
    cursor: default;
}

.cross_main td table td.td_str5 {
    border-right: 2px solid #8F8F8F;
}

.cross_main td table .tr_str5 td {
    border-bottom: 2px solid #8F8F8F;
}

.cross_main td.kletka {
    background: #CACACA;
    border-color: #818181;
}

.cross_main td.kletka_light {
	background: #eee;
}